<h1> Details About the Event</h1>
<div>
  <div>


    <form action="/insert_event" method="post">
      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" class="form-control" id="location_box" name="query_location">
      </div>

      <div>
        <label for="date_box">
          Date
        </label>

        <input type="datetime-local" class="form-control" id="date_box" name="query_date">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" class="form-control" name="query_description" rows="3"></textarea>
      </div>

      <button>
        Create event
      </button>
    </form>
    
  </div>
</div>
